.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.headingContainer {
  max-width: 1280px;
  padding-left: 56px;
  margin: 0 auto 32px auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
}

.sortDropdown {
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  margin-right: 75px;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;

  option {
    color: #000;
    margin: 10px;
    font-size: 14px;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  padding: 5px;
}

.paginationItem {
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.6;
    outline: none;
  }
}

.prev,
.next {
  cursor: pointer;
}

.paginationItem.active {
  text-decoration-line: underline;
  pointer-events: none;

  span {
    opacity: 1;
    text-decoration-line: underline;
    color: #ff6a63;
  }
}

.prev.disabled,
.next.disabled {
  display: none;
  pointer-events: none;
  box-shadow: none;
}

.cardWrapper {
  padding: 0 52px 0 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 52px;
}
