@import "/src/styles/variables";

.card {
  width: 280px;
  margin-bottom: 16px;

  .imgContainer {
    height: 113px;
    position: relative;
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
    .videoContainer {
      position: absolute;
      top: 0;
      width: 280px;
      height: 113px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .cardHead {
    display: flex;
    padding: 10px 23px;
    justify-content: space-between;
    background: linear-gradient(0deg, #1a2b4a 0%, #2b507c 105.38%);

    h3 {
      margin-bottom: 3px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $color-white-0;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
    }

    .rating {
      display: flex;
      gap: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $color-grey-1;
    }

    button {
      outline: none;
      border: none;
    }
    .play {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .card {
    .cardHead {
      padding: 12px 24px;
    }
  }
}
