@import "/src/styles/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 58px 14px 56px;
  background-color: $color-blue-1;
  margin: 0 auto;

  img {
    cursor: pointer;
  }

  input {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-white-0;
    width: 376px;
    padding: 10px 10px 10px 8px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 5px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-white-0;
    }
  }
}
