@import "/src/styles/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 58px 14px 56px;
  background-color: $color-blue-1;
  margin: 0 auto;

  img {
    cursor: pointer;
  }

  input {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 96% 50%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-white-0;
    width: 376px;
    padding: 10px 10px 10px 8px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 5px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-white-0;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .load {
    background-image: url(../../assets/images/searchLoader.gif);
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 16px 20px;
    border-radius: 4px;
    border-radius: 0px;

    input {
      max-width: 334px;
      width: 100%;
    }
  }
}
