.sliderContainer {
  position: relative;
  cursor: pointer;

  .leftArrow,
  .rightArrow {
    position: absolute;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .leftArrow {
    left: 20px;
  }
  .rightArrow {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .sliderContainer {
    .leftArrow,
    .rightArrow {
      width: 35px;
    }
    .leftArrow {
      left: 10px;
    }
    .rightArrow {
      right: 10px;
    }
  }
}
